/************************
        Image Decorations
*************************/
.decor-hero {
    position: absolute;
    inset: 0;

    &__main {
        position: absolute;
        inset: 0;
        background-repeat: no-repeat;
        background-image: url(../img/hero-bg.jpg);
    }

    &__birds {
        position: absolute;
        top: 30%;
        right: 2%;

        @media (min-width: 1920px) {
            top: 10%;
        }

        img {
            width: 100%;
            height: 100%;

            @media (min-width: 1920px) {
                width: 1007px;
                height: 629px;
            }
        }
    }
}

.inter-decor {
    margin-top: -170px;

    @media (max-width: 1440px) {
        display: none;
    }

    img {
        width: 632px;
        height: auto;
        object-fit: cover;
    }
}

.windmill-decor {
    position: relative;

    .windmills {
        // position: absolute;
        // inset: 0;
        // z-index: -1;

        &__bg {
            overflow: hidden;
            position: absolute;
            inset: 0;
            z-index: -1;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }

    .cloud-1,
    .cloud-2,
    .windmill {
        display: none;
    }

    @media (min-width: 1440px) {
        .windmill {
            position: absolute;
            top: -100px;
            display: block;
        }

        .cloud-1 {
            position: absolute;
            top: -100px;
            display: block;
        }
        .cloud-2 {
            position: absolute;
            top: -100px;
            right: 0;
            display: block;
        }
    }
}

.mission-decor {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;

    img {
        object-fit: cover;
        height: 100%;
    }

    &__main {
        position: absolute;
        inset: 0;
    }

    &__handshake {
        position: absolute;
        inset: 0;
        display: none;
    }
}
