/************************
        Header
*************************/
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &__btn {
        margin-top: 20px;
        width: 32px;
        height: 32px;
        display: grid;
        place-content: center;
        // color: #d68049;
        color: #2a436e;
        background-color: #fff;
        border: 0;
        cursor: pointer;

        font-size: 1.6rem;

        @media (min-width: 1620px) {
            display: none;
        }
    }
}
