/************************
        News Modal
*************************/
.modal {
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    z-index: 100000000;

    display: none;

    &.active {
        display: grid;
    }

    &__backdrop {
        position: absolute;
        inset: 0;
        background-color: hsl(218 45% 30% / 0.3);
    }

    &__container {
        position: relative;
        max-width: 90vw;
        background-color: #fff;
        padding-inline: 27px;
    }

    &__scroll {
        height: 100%;
        max-height: 60vh;
        overflow-y: auto;

        /* width */
        &::-webkit-scrollbar {
            width: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            border-radius: 0.9px;
            background-color: #dcdcdc;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            box-shadow: 0px 6px 14px 0 rgba(5, 7, 32, 0.54);
            background-color: #2a436e;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &__body {
        padding-inline-end: 10px;

        @media (min-width: 1200px) {
            padding-inline-end: 20px;
        }

        @media (min-width: 1920px) {
            padding-inline-end: 50px;
        }

        figure {
            margin-bottom: 10px;

            @media (min-width: 760px) {
                float: left;
                padding-right: 15px;
                width: 420px;
                height: 280px;
            }

            @media (min-width: 1365px) {
                padding-right: 35px;
                width: 618px;
                height: 422px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .text-flow {
            --clr: #272727;

            & > p {
                font-size: 16px;

                @media (min-width: 1920px) {
                    font-size: 20px;
                }

                @media (min-width: 2500px) {
                    font-size: 30px;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__close {
        position: absolute;
        right: 25px;
        top: 25px;
        background-color: transparent;
        border: 0;
        color: #2a436e;
        font-size: 1rem;
        cursor: pointer;
    }

    &__header {
        padding: 30px 50px 0 0;

        @media (min-width: 1920px) {
            margin-bottom: 10px;
        }

        h3 {
            position: relative;
            font-size: 22px;
            font-weight: normal;
            line-height: 1.19;
            color: #2a436e;

            @media (min-width: 1200px) {
                font-size: 28px;
            }

            @media (min-width: 1920px) {
                font-size: 44px;
            }

            @media (min-width: 2500px) {
                font-size: 72px;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 209px;
                height: 3px;
                background-color: #d68049;
            }
        }

        time {
            display: block;
            margin-top: 10px;
            font-size: 15px;
            color: #ccc;

            @media (min-width: 1920px) {
                font-size: 23px;
            }

            @media (min-width: 2500px) {
                font-size: 40px;
            }
        }
    }

    &__navigate {
        padding-block: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 1200px) {
            padding-block: 30px;
        }

        button {
            background-color: transparent;
            border: 0;
            display: flex;
            align-items: center;
            gap: 27px;
            cursor: pointer;

            i {
                font-size: 1rem;
                color: #2a436e;

                @media (min-width: 1920px) {
                    font-size: 30px;
                }
            }

            span {
                font-size: 1rem;
                line-height: 1.5;
                color: #2a436e;

                @media (min-width: 1920px) {
                    font-size: 28px;
                }
            }
        }
    }
}
