/************************
        Navigation
*************************/
.site-nav {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: max-height 200ms ease-in-out;

    &.active {
        max-height: 1000px;
    }

    @media (min-width: 1640px) {
        max-height: unset;
        box-shadow: 0px 6px 14px 0 rgba(5, 7, 32, 0.54);
        padding-inline: 47px;
        padding-block: unset;
    }

    &__list {
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 1640px) {
            padding: unset;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__link {
        position: relative;
        display: block;
        font-size: 19.5px;
        font-weight: 500;
        color: #333;
        text-decoration: none;

        @media (min-width: 1640px) {
            padding-block: 27px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            height: 2px;
            background-color: transparent;
            transition: background-color 150ms ease-in-out;

            @media (min-width: 1640px) {
                bottom: 20px;
            }
        }

        &.active,
        &:hover,
        &:focus {
            &::after {
                background-color: #d68049;
            }
        }
    }
}
