*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: 16px;
}
@media (min-width: 768px) {
  :root {
    --text: 18px;
  }
}
@media (min-width: 1200px) {
  :root {
    --text: 20px;
  }
}
@media (min-width: 1440px) {
  :root {
    --text: 24px;
  }
}
@media (min-width: 1920px) {
  :root {
    --text: 28px;
  }
}
@media (min-width: 2500px) {
  :root {
    --text: 38px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  line-height: 1.5;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.geo {
  font-family: "FiraGO";
}

.upper {
  font-feature-settings: "case" on;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  color: #d68049;
}

.justify-right {
  text-align: justify;
  text-align-last: right;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 88vw;
  margin-inline: auto;
}
@media (min-width: 1920px) {
  .container {
    width: 1605px;
  }
}
@media (min-width: 2500px) {
  .container {
    width: 80vw;
  }
}

/************************
        Section
*************************/
.section {
  background-color: var(--bg-color);
}
@media (min-width: 1366px) {
  .section {
    --fz-description: 31px;
    --fz-h3: 36px;
  }
}
@media (min-width: 2500px) {
  .section {
    --fz-description: 38px;
  }
}
.section--mission {
  position: relative;
  margin-top: 0;
}
.section--mission .container {
  position: relative;
  z-index: 10000;
  padding-top: 20vw;
  padding-bottom: 10vw;
}
@media (min-width: 768px) {
  .section--mission .container {
    padding-top: 44vw;
    padding-bottom: 10vw;
  }
}
@media (min-width: 1440px) {
  .section--mission .container {
    padding-top: 80vh;
  }
}
@media (min-width: 3200px) {
  .section--mission .container {
    padding-top: 100vh;
  }
}
.section--padding {
  padding-top: 40px;
  padding-bottom: 50px;
}
@media (min-width: 1366px) {
  .section--padding {
    padding-top: 89px;
    padding-bottom: 98px;
  }
}
.section--contact {
  padding-block: 212px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section--partners {
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section--engagement {
  padding-block: 100px;
  position: relative;
}
@media (min-width: 1365px) {
  .section--engagement {
    padding-block: 208px 225px;
  }
}
.section--news {
  margin-bottom: 154px;
}
.section__header {
  margin-bottom: 30px;
}
@media (min-width: 1366px) {
  .section__header {
    margin-bottom: 57px;
  }
}
.section--program {
  background-repeat: no-repeat;
  background-size: cover;
}
.section__title {
  position: relative;
  font-size: clamp(28px, 2.5vw + 1rem, 112px);
  font-weight: 200;
  line-height: 1.15;
  color: #fff;
}
.section__title--line-right::after {
  left: unset !important;
  right: 0;
}
.section__title--line-center::after {
  left: 50% !important;
  transform: translateX(-50%);
}
.section__title--line-white::after {
  background-color: #fff;
}
.section__title--line-orange::after {
  background-color: #d68049;
}
.section__title--line-blue::after {
  background-color: #2a436e;
}
.section__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 209px;
  left: 0;
  height: 3px;
}
@media (min-width: 1366px) {
  .section__title::after {
    bottom: -25px;
  }
}
.section__title--center {
  text-align: center;
}
.section__title--right {
  text-align: right;
}

.project-description {
  margin-bottom: 50px;
  font-size: var(--fz-description, 18px);
  line-height: 1.32;
  text-align: center;
  color: #fefefe;
}
@media (min-width: 1366px) {
  .project-description {
    margin-bottom: 88px;
  }
}

.about-project {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1366px) {
  .about-project {
    flex-direction: row;
    justify-content: space-around;
    gap: 104px;
  }
}
.about-project > div {
  max-width: 680px;
}
.about-project > div > div {
  margin-bottom: 20px;
}
.about-project h3 {
  margin-bottom: 5px;
  font-size: var(--fz-h3, 18px);
  font-weight: 300;
  line-height: 1.14;
  color: #d68049;
}
.about-project p {
  font-size: var(--text);
  color: #fefefe;
}

.mission-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mission-description p {
  font-size: var(--text);
  text-align: justify;
  color: #fefefe;
}

.v-half {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
  padding-inline: 6vw;
  z-index: 1000;
  --padding: 70px;
}
@media (min-width: 1100px) {
  .v-half {
    padding-inline: unset;
    padding-block: 2rem;
    width: 50%;
  }
}
@media (min-width: 2500px) {
  .v-half {
    --padding: 200px;
  }
}
@media (min-width: 1100px) {
  .v-half--right {
    margin-left: auto;
    padding-right: var(--padding);
    padding-left: 50px;
  }
}
@media (min-width: 1920px) {
  .v-half--right {
    padding-left: 116px;
  }
}
@media (min-width: 1100px) {
  .v-half--left {
    padding-left: var(--padding);
    padding-right: 50px;
  }
}
@media (min-width: 1920px) {
  .v-half--left {
    padding-right: 116px;
  }
}
.v-half--blue {
  background-color: hsla(218deg, 45%, 30%, 0.9);
}
.v-half--white {
  background-color: rgba(255, 255, 255, 0.9);
}

.campus {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.campus p {
  font-size: var(--text);
  color: #fefefe;
}

.programs-services {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.programs-services p {
  font-size: var(--text);
  text-align: justify;
  color: #2a436e;
}

.partners {
  position: relative;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 100px 70px 100px 1rem;
  padding-left: 6vw;
}
@media (min-width: 1366px) {
  .partners {
    max-width: 50vw;
  }
}
@media (min-width: 1637px) {
  .partners {
    padding-left: calc((100vw - 1605px) / 2);
  }
}
@media (min-width: 2500px) {
  .partners {
    padding-left: 10vw;
  }
}

.internationalization-wrapper {
  padding-block: 100px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (min-width: 1240px) {
  .internationalization-wrapper {
    padding-block: 100px;
  }
}
@media (min-width: 1366px) {
  .internationalization-wrapper {
    padding-block: 100px;
  }
}
@media (min-width: 1440px) {
  .internationalization-wrapper {
    gap: 130px;
    padding-block: 121px 136px;
  }
}

.internationalization {
  max-width: 807px;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 2500px) {
  .internationalization {
    max-width: 50vw;
  }
}
.internationalization .text-flow p {
  color: #2a436e;
}

.social-menu {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-items: center;
  background-color: #2a436e;
  padding: 10px 15px;
}
@media (min-width: 2500px) {
  .social-menu {
    padding: 20px 25px;
    gap: 40px;
  }
}
.social-menu a {
  color: #fff;
  font-size: 1.4rem;
  transition: color 150ms ease-in-out;
}
@media (min-width: 2500px) {
  .social-menu a {
    font-size: 2.5rem;
  }
}
.social-menu a:hover, .social-menu a:focus {
  color: #d68049;
}

.about-team {
  margin-bottom: 72px;
}

.team-title {
  font-size: clamp(24px, 2.5vw + 1rem, 42px);
  font-weight: 200;
  text-align: center;
  color: #fff;
}

.text-flow {
  --clr: #fff;
  --ta: justify;
}
.text-flow p {
  font-size: var(--text);
  text-align: var(--ta);
  color: var(--clr);
}

.btn {
  background-color: transparent;
  border: 0;
  display: grid;
  place-content: center;
  padding: 10px 30px;
  width: max-content;
  font-size: 16px;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 1920px) {
  .btn {
    padding: 18px 96px;
    font-size: 28px;
  }
}
.btn--pill {
  border-radius: 100vmax;
}
.btn--primary {
  background-color: #d68049;
  color: #fff;
}

.news-wrapper {
  position: relative;
  padding: 10px;
  padding-bottom: 40px;
  box-shadow: 0px 6px 22px 0 rgba(0, 0, 0, 0.09);
  background-color: #fff;
}
@media (min-width: 1920px) {
  .news-wrapper {
    padding: 60px 69px 77px 64px;
  }
}
.news-wrapper .btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1920px) {
  .news-wrapper .btn {
    bottom: -30px;
  }
}

/************************
        Header
*************************/
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.site-header__btn {
  position: fixed;
  top: 40px;
  right: 0;
  width: 42px;
  height: 42px;
  display: grid;
  place-content: center;
  color: #2a436e;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  z-index: 2;
  font-size: 1.4rem;
}
@media (min-width: 2500px) {
  .site-header__btn {
    width: 72px;
    height: 72px;
    font-size: 3rem;
  }
}
.site-header__btn i {
  pointer-events: none;
}

/************************
        Hero
*************************/
.hero {
  position: relative;
  height: 100vh;
  z-index: 1000;
}
.hero__content {
  position: relative;
  padding-top: 24vh;
}
@media (min-width: 768px) {
  .hero__content {
    --fz: 33px;
    --line-w: 209px;
  }
}
@media (min-width: 2500px) {
  .hero__content {
    --fz: 44px;
    --line-w: 320px;
  }
}
.hero__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: var(--line-w, 100px);
  height: 3px;
  background-color: #d68049;
}
.hero__content p {
  font-size: var(--fz, 20px);
  font-weight: 400;
  line-height: 1.42;
  color: #2a436e;
  max-width: 747px;
}
@media (min-width: 2500px) {
  .hero__content p {
    max-width: 30vw;
  }
}
.hero__slider {
  width: 100%;
  height: 100vh;
}
.hero__pagination {
  position: absolute;
  bottom: 28px !important;
  display: flex;
  justify-content: center;
  z-index: 100000;
}
.hero__pagination .swiper-pagination-bullet {
  width: 61px;
  height: 3px;
  background-color: #fff !important;
  border-radius: 0 !important;
  transition: all 150ms ease-in-out;
  opacity: 1 !important;
  cursor: pointer;
}
.hero__pagination .swiper-pagination-bullet-active {
  background-color: #d68049 !important;
}

.langs {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.langs__link {
  font-size: 19.5px;
  color: rgb(116, 116, 116);
  line-height: 1.95;
  text-decoration: none;
}
.langs__link.active {
  font-weight: 500;
  color: #333;
}

.logos {
  margin-top: 30px;
  position: relative;
}
.logos__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.logos img {
  height: 65px;
}
.logos__kfw {
  height: 40px !important;
}

/************************
        Navigation
*************************/
.site-nav {
  position: fixed;
  right: 0;
  top: 40px;
  padding: 18px 60px 33px 49px;
  background-color: #fff;
  z-index: 1;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  transform-origin: top right;
}
@media (min-width: 2500px) {
  .site-nav {
    padding-right: 120px;
  }
}
.site-nav.active {
  transform: scale(1);
}
.site-nav__li {
  display: flex;
  justify-content: flex-end;
}
.site-nav__link {
  position: relative;
  display: inline-block;
  font-size: 19.5px;
  font-weight: 500;
  line-height: 1.95;
  text-align: right;
  color: #333;
  text-decoration: none;
}
@media (min-width: 2500px) {
  .site-nav__link {
    font-size: 32px;
  }
}
.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: transparent;
  transition: background-color 150ms ease-in-out;
}
.site-nav__link:hover, .site-nav__link:focus, .site-nav__link.active {
  color: #000;
}
.site-nav__link:hover::after, .site-nav__link:focus::after, .site-nav__link.active::after {
  background-color: #d68049;
}

/************************
        Image Decorations
*************************/
.decor-hero {
  position: absolute;
  inset: 0;
}
.decor-hero__main {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.decor-hero__birds {
  position: absolute;
  top: 30%;
  right: 2%;
}
@media (min-width: 1920px) {
  .decor-hero__birds {
    top: 10%;
  }
}
.decor-hero__birds img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1365px) {
  .decor-hero__birds img {
    width: 560px;
    height: auto;
  }
}
@media (min-width: 1920px) {
  .decor-hero__birds img {
    width: 1007px;
    height: 629px;
  }
}
@media (min-width: 3600px) {
  .decor-hero__birds img {
    width: 1800px;
    height: auto;
  }
}

.inter-decor {
  flex-shrink: 0;
  display: none;
  margin-top: -30%;
}
@media (min-width: 1240px) {
  .inter-decor {
    display: block;
    margin-top: -40%;
  }
}
@media (min-width: 1440px) {
  .inter-decor {
    margin-top: -34%;
  }
}
@media (min-width: 1920px) {
  .inter-decor {
    margin-top: -28%;
  }
}
.inter-decor img {
  height: auto;
  object-fit: cover;
}
@media (min-width: 1240px) {
  .inter-decor img {
    width: 35vw;
  }
}
@media (min-width: 1920px) {
  .inter-decor img {
    width: 632px;
  }
}

.windmill-decor {
  position: relative;
}
.windmill-decor .windmills__bg {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.windmill-decor .windmills__bg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.windmill-decor .cloud-1,
.windmill-decor .cloud-2,
.windmill-decor .windmill {
  display: none;
}
@media (min-width: 1100px) {
  .windmill-decor .windmill {
    position: absolute;
    top: 30px;
    display: block;
  }
  .windmill-decor .cloud-1 {
    position: absolute;
    top: -200px;
    display: block;
  }
  .windmill-decor .cloud-2 {
    position: absolute;
    top: -20px;
    right: 0;
    display: block;
  }
}
@media (min-width: 1440px) {
  .windmill-decor .windmill {
    top: 30px;
  }
  .windmill-decor .cloud-1 {
    top: -340px;
  }
  .windmill-decor .cloud-2 {
    top: -20px;
  }
}
@media (min-width: 2500px) {
  .windmill-decor .windmill {
    top: -130px;
  }
  .windmill-decor .cloud-2 {
    top: -120px;
  }
}
.windmill-decor .windmill {
  z-index: 100;
}
@media (min-width: 2500px) {
  .windmill-decor .windmill img {
    height: 900px;
    width: auto;
  }
}
@media (min-width: 2500px) {
  .windmill-decor .cloud-1 img {
    height: 700px;
    width: auto;
  }
}
@media (min-width: 2500px) {
  .windmill-decor .cloud-2 img {
    height: 700px;
    width: auto;
  }
}

.mission-decor {
  position: absolute;
  inset: 0;
}
.mission-decor img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.mission-decor__main {
  position: absolute;
  inset: 0;
}
@media (max-width: 768px) {
  .mission-decor__main::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #2a436e;
    opacity: 0.4;
  }
}
.mission-decor__main img {
  object-fit: unset;
}
@media (max-width: 768px) {
  .mission-decor__main img {
    object-fit: cover;
  }
}
.mission-decor__handshake {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
@media (max-width: 768px) {
  .mission-decor__handshake {
    display: none;
  }
}

.birds {
  position: absolute;
  left: 5vw;
  top: 170%;
}
@media (min-width: 1366px) {
  .birds {
    top: 130%;
    left: 13vw;
  }
}
@media (min-width: 1920px) {
  .birds {
    left: 20%;
  }
}
.birds img {
  width: 320px;
  height: auto;
}
@media (min-width: 1100px) {
  .birds img {
    width: 572px;
    height: auto;
  }
}
@media (min-width: 2500px) {
  .birds img {
    width: 900px;
  }
}

/************************
        Article
*************************/
.news-article-preview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .news-article-preview {
    grid-template-columns: 2fr 3fr;
  }
}
@media (min-width: 1200px) {
  .news-article-preview {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1920px) {
  .news-article-preview {
    grid-template-columns: 618px 1fr;
    gap: 36px;
  }
}
@media (min-width: 2500px) {
  .news-article-preview {
    grid-template-columns: 1200px 1fr;
  }
}
.news-article-preview__img {
  max-height: 240px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .news-article-preview__img {
    max-height: 422px;
  }
}
@media (min-width: 2500px) {
  .news-article-preview__img {
    max-height: 622px;
  }
}
.news-article-preview__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-article-preview__header {
  margin-bottom: 10px;
}
@media (min-width: 1920px) {
  .news-article-preview__header {
    margin-bottom: 35px;
  }
}
.news-article-preview__header h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.19;
  color: #2a436e;
}
@media (min-width: 1920px) {
  .news-article-preview__header h3 {
    font-size: 36.5px;
  }
}
@media (min-width: 2500px) {
  .news-article-preview__header h3 {
    font-size: 64px;
  }
}
.news-article-preview__header time {
  font-size: 15px;
  color: #ccc;
}
@media (min-width: 1920px) {
  .news-article-preview__header time {
    font-size: 25px;
  }
}
@media (min-width: 2500px) {
  .news-article-preview__header time {
    font-size: 40px;
  }
}
.news-article-preview__content p {
  font-size: var(--text);
  text-align: justify;
  color: #272727;
}

/************************
        Contact
*************************/
.contact {
  max-width: 984px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}
@media (min-width: 1920px) {
  .contact {
    padding: 34px 60px 34px 83px;
  }
}
.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
@media (min-width: 1920px) {
  .contact__content {
    flex-direction: row;
  }
}
.contact__content ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1440px) {
  .contact__content {
    --fz-small: 22px;
  }
}
.contact__content address {
  font-style: normal;
}
.contact__content address li {
  display: flex;
  align-items: baseline;
  gap: 13px;
}
.contact__content address li i {
  line-height: 1;
  font-size: 1rem;
  color: #d68049;
}
@media (min-width: 1920px) {
  .contact__content address li i {
    font-size: 1.6rem;
  }
}
.contact__content address a {
  font-size: var(--text);
  text-align: justify;
  color: #2a436e;
  text-decoration: none;
}
.contact__content address small {
  font-size: var(--fz-small, 14px);
  color: #2a436e;
}
.contact__social {
  gap: 20px !important;
  align-items: center;
  flex-direction: row !important;
}
@media (min-width: 1920px) {
  .contact__social {
    flex-direction: column !important;
  }
}
.contact__social a {
  font-size: 1.5rem;
  color: #2a436e;
  transition: color 150ms ease-in-out;
}
@media (min-width: 1920px) {
  .contact__social a {
    font-size: 2rem;
  }
}
.contact__social a:hover, .contact__social a:focus {
  color: #d68049;
}

.swiper-button-next::before, .swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  color: #d68049;
  transition: color 150ms ease-in-out;
}
.swiper-button-next:hover::before, .swiper-button-next:hover::after, .swiper-button-next:focus::before, .swiper-button-next:focus::after,
.swiper-button-prev:hover::before,
.swiper-button-prev:hover::after,
.swiper-button-prev:focus::before,
.swiper-button-prev:focus::after {
  color: #be5a1b;
}

.team__slider .swiper-slide {
  flex-shrink: 0;
  padding-block: 30px;
  width: 410px !important;
}

/************************
        Team
*************************/
.team-member {
  position: relative;
  box-shadow: 0px 6px 22px 0 rgba(0, 0, 0, 0.39);
}
.team-member img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.team-member figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 14px 27px 16px 20px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  background-color: #d68049;
}
@media (min-width: 1440px) {
  .team-member figcaption {
    font-size: 29.5px;
  }
}

/************************
        News Modal
*************************/
.modal {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  z-index: 100000000;
  display: none;
}
.modal.active {
  display: grid;
}
.modal__backdrop {
  position: absolute;
  inset: 0;
  background-color: hsla(218deg, 45%, 30%, 0.3);
}
.modal__container {
  position: relative;
  max-width: 90vw;
  background-color: #fff;
  padding-inline: 27px;
}
.modal__scroll {
  height: 100%;
  max-height: 60vh;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.modal__scroll::-webkit-scrollbar {
  width: 2px;
}
.modal__scroll::-webkit-scrollbar-track {
  border-radius: 0.9px;
  background-color: #dcdcdc;
}
.modal__scroll::-webkit-scrollbar-thumb {
  box-shadow: 0px 6px 14px 0 rgba(5, 7, 32, 0.54);
  background-color: #2a436e;
}
.modal__scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.modal__body {
  padding-inline-end: 10px;
}
@media (min-width: 1200px) {
  .modal__body {
    padding-inline-end: 20px;
  }
}
@media (min-width: 1920px) {
  .modal__body {
    padding-inline-end: 50px;
  }
}
.modal__body figure {
  margin-bottom: 10px;
}
@media (min-width: 760px) {
  .modal__body figure {
    float: left;
    padding-right: 15px;
    width: 420px;
    height: 280px;
  }
}
@media (min-width: 1365px) {
  .modal__body figure {
    padding-right: 35px;
    width: 618px;
    height: 422px;
  }
}
.modal__body figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__body .text-flow {
  --clr: #272727;
}
.modal__body .text-flow > p {
  font-size: 16px;
}
@media (min-width: 1920px) {
  .modal__body .text-flow > p {
    font-size: 20px;
  }
}
@media (min-width: 2500px) {
  .modal__body .text-flow > p {
    font-size: 30px;
  }
}
.modal__body .text-flow > p:not(:last-child) {
  margin-bottom: 20px;
}
.modal__close {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: transparent;
  border: 0;
  color: #2a436e;
  font-size: 1rem;
  cursor: pointer;
}
.modal__header {
  padding: 30px 50px 0 0;
}
@media (min-width: 1920px) {
  .modal__header {
    margin-bottom: 10px;
  }
}
.modal__header h3 {
  position: relative;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.19;
  color: #2a436e;
}
@media (min-width: 1200px) {
  .modal__header h3 {
    font-size: 28px;
  }
}
@media (min-width: 1920px) {
  .modal__header h3 {
    font-size: 44px;
  }
}
@media (min-width: 2500px) {
  .modal__header h3 {
    font-size: 72px;
  }
}
.modal__header h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 209px;
  height: 3px;
  background-color: #d68049;
}
.modal__header time {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  color: #ccc;
}
@media (min-width: 1920px) {
  .modal__header time {
    font-size: 23px;
  }
}
@media (min-width: 2500px) {
  .modal__header time {
    font-size: 40px;
  }
}
.modal__navigate {
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .modal__navigate {
    padding-block: 30px;
  }
}
.modal__navigate button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 27px;
  cursor: pointer;
}
.modal__navigate button i {
  font-size: 1rem;
  color: #2a436e;
}
@media (min-width: 1920px) {
  .modal__navigate button i {
    font-size: 30px;
  }
}
.modal__navigate button span {
  font-size: 1rem;
  line-height: 1.5;
  color: #2a436e;
}
@media (min-width: 1920px) {
  .modal__navigate button span {
    font-size: 28px;
  }
}

.bio-popup {
  position: fixed;
  inset: 0;
  z-index: 10000;
  isolation: isolate;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.bio-popup.active {
  display: flex;
}
.bio-popup__backdrop {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: hsla(0deg, 0%, 0%, 0.2);
}
.bio-popup__container {
  max-width: 920px;
  width: 95vw;
  background-color: hsl(0deg, 0%, 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.bio-popup__top {
  padding: 24px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e9ecef;
}
.bio-popup__close {
  background-color: transparent;
  border: 0;
  color: #2a436e;
  font-size: 1rem;
  cursor: pointer;
}
.bio-popup__content {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 680px) {
  .bio-popup__content {
    flex-direction: column;
  }
}
.bio-popup__header {
  margin-bottom: 20px;
}
.bio-popup__header h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #2a436e;
  list-style: 1.2;
}
@media (max-width: 680px) {
  .bio-popup__header h2 {
    font-size: 24px;
  }
}
.bio-popup__header h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #2a436e;
}
@media (max-width: 680px) {
  .bio-popup__header h3 {
    font-size: 18px;
  }
}
.bio-popup__image {
  flex-shrink: 0;
  width: 240px;
  height: 240px;
  overflow: hidden;
}
.bio-popup__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bio-popup__body {
  font-size: var(--text);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*# sourceMappingURL=main.css.map */
